DATABASE_URL=postgres://localhost:5432/leit
JWT_SECRET=change-me
# Optional: Canvas API token if you need Canvas proxy
VITE_CANVAS_API_KEY= 2096~EznMM6FNFR4WYA2urYXeceGQK2BMmH3EeHBv343fPvtC86uLTZFBtxxFGGVYeF8Z

